.avatar {
  box-sizing: initial;
  width: 4rem;
  height: 4rem;
  border-radius: 8px;
}

.avatarWithBorder {
  box-sizing: initial;
  width: 8rem;
  height: 8rem;
  border-radius: 8px;
  border: 5px solid var(--gray-800);
  outline: 2px solid var(--green-500);
}
