.sidebar {
  background-color: var(--gray-800);
  border-radius: 8px;
  overflow: hidden;
}

.cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  gap: 3px;
  margin-top: -4rem;
}

.sidebar footer {
  border-top: 1px solid var(--gray-600);
  margin-top: 1.25rem;
  padding: 1.5rem 2rem 2rem;
}

.sidebar footer a {
  background: transparent;
  color: var(--green-500);
  border: 1px solid var(--green-500);
  border-radius: 8px;
  height: 50px;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s, background-color 0.2s;
}

.sidebar footer a:hover {
  background-color: var(--green-500);
  color: var(--white);
}

.profile strong {
  margin-top: 1rem;
  color: var(--gray-100);
  line-height: 1.6;
}
.profile span {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 1.6;
}
